<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Ubah Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <h3 class="text-center">Form Ubah Pesawat</h3>
    <form th:action="@{/pesawat/ubah}" th:object="${pesawat}" method="POST">
        <input type="hidden" th:field="*{id}">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Maskapai</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="maskapai" th:value="*{maskapai}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tanggal Dibuat</label>
            <div class="col-sm-10">
                <input class="form-control" type="date" name="tanggalDibuat" th:value="*{maskapai}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tempat Dibuat</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="tempatDibuat" th:value="*{tempatDibuat}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Jenis</label>
            <div class="col-sm-10">
                <select class="form-control" name="jenisPesawat" th:value="*{jenisPesawat}">
                    <option value="Komersial">Komersial</option>
                    <option value="Militer">Militer</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="hidden" th:field="*{tipeModel}">
            </div>
        </div>
        <button class="btn btn-success" type="submit" value="Submit">Submit</button>
    </form>
</form>
</body>
</html>