<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Daftar Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <h2 class="text-center">Daftar Penerbangan</h2>
    <a th:href="@{/penerbangan/tambah}" th:object="${penerbangan}" class="btn btn-primary">+ Tambah Penerbangan</a>
    <br>
    <br>
    <table class="table bg-info text-white">
        <thead>
        <tr>
            <th>No</th>
            <th>Kode Penerbangan</th>
            <th>Bandara Asal</th>
            <th>Bandara Tujuan</th>
            <th>Waktu Berangkat</th>
            <th>Aksi</th>
        </tr>
        </thead>
        <tbody class="bg-white text-dark">
        <tr th:each="penerbangan, iterationStatus : ${listPenerbangan}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${penerbangan.nomorPenerbangan}"></td>
            <td th:text="${penerbangan.kodeBandaraAsal}"></td>
            <td th:text="${penerbangan.kodeBandaraTujuan}"></td>
            <td th:text="${penerbangan.waktuBerangkat}"></td>
            <td>
                <a class="btn btn-info" th:href="@{/penerbangan/} + ${penerbangan.id}">Lihat</a>
                <a class="btn btn-warning" th:href="@{/penerbangan/ubah/} + ${penerbangan.id}">Ubah</a>
                <a class="btn btn-danger">Hapus</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>